*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow-y: hidden !important;
}
body{
    color:white;
    overflow-x:hidden;
}
.darkGradient{
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
}
:root{
    --brand-color:#5D15F2;
    --chat-background:rgb(234, 236, 238);
    --dark-gray:#343A40;
    
}